@model MyBookStore.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập tài khoản";
}

<h2>Đăng nhập</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-check">
            @Html.LabelFor(model => model.RememberMe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.RememberMe, new { @class = "from-control" })
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng nhập" class="btn btn-default" />
                @Html.ActionLink("Quên mật khẩu?", "ForgetPassword")
            </div>
           
        </div>

    </div>
    <div>
        <span>Bạn chưa có tài khoản?</span>@Html.ActionLink("Tạo tài khoản", "Register")
    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
