<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyBookStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Scripts/mycss/main.css" rel="stylesheet" />
</head>
<body class="container-fluid">
    @*headers menu*@
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="#">MyBookStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--Menu-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Trang chủ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Book")">Sản phẩm nổi bật</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sách mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Chính sách mua hàng</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                </ul>
                <!--Search text box-->
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Bạn muốn tìm gì?" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
                </form>
                <!--Account and Shopping cart -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        @{ 
                            string message = "Tài khoản";
                            if (HttpContext.Current.Request.IsAuthenticated)
                            {
                                message = "Xin chào, " + HttpContext.Current.User.Identity.Name;
                            }
                        }
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           @message
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (HttpContext.Current.Request.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="@Url.Action("LogOut","Account")">Đăng xuất</a>
                                <a class="dropdown-item" href="@Url.Action("ShowInformation","Account")">Thông tin tài khoản</a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("Login","Account")">Đăng nhập</a>
                                <a class="dropdown-item" href="@Url.Action("Register","Account")">Đăng ký</a>
                            }

                            @*<div class="dropdown-divider"></div>*@


                        </div>
                    </li>
                    <li class="nav-item navbar-collapse ml-4">
                        <span class="fa fa-shopping-cart"></span>
                        <a class="nav-link" href="#">Giỏ hàng</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>


    <div class="container p-4">
        <div class="row">
           @{ 
               Html.RenderAction("Index","BookType");
           }
            <div class="col-lg-9">
                @RenderBody()
                @*<strong>Sản phẩm nổi bật</strong>
        <hr />
        <div class="row mt-2">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="card">
                    <div class="card-body text-left">
                        <a href="#"><img src="~/Images/khong-so-hai.jpg" class="img-fluid" /></a>
                        <p class="card-text title">Some text inside the first card</p>
                        <span class="d-block text-truncate small">Tên Tác giả</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="card">
                    <div class="card-body text-left">
                        <a href="#"><img src="~/Images/the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg" class="img-fluid" /></a>
                        <p class="card-text title">Some text inside the first card Some text inside the first card</p>
                        <span class="d-block text-truncate small">Tên Tác giả</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="card">
                    <div class="card-body text-left">
                        <a href="#"><img src="~/Images/suy-tuong.jpg" class="img-fluid" /></a>
                        <p class="card-text title">Some text inside the first card</p>
                        <span class="d-block text-truncate small">Tên Tác giả nha bạn Tên Tác giả nha bạn</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card">
                    <div class="card-body text-left">
                        <a href="#"><img src="~/Images/mat-biec-phien-ban-phim.jpg" class="img-fluid" /></a>
                        <p class="card-text title">Some text inside the first card</p>
                        <span class="small">Tên Tác giả</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="card">
                    <div class="card-body text-left">
                        <a href="#"><img src="~/Images/trieu-phu-bat-dong-san-tu-than-dinh-huong-dau-tu-mua-dau-lai-do.png" class="img-fluid" /></a>
                        <p class="card-text title">Some text inside the first card</p>
                    </div>
                </div>
            </div>
        </div>*@

            </div>
        </div>
       

        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

   
    
    @RenderSection("scripts", required: false)
</body>
</html>
