@model MyBookStore.ViewModels.BookViewModel
@using MyBookStore.ViewModels
@using System.Text
@{
    ViewBag.Title = "Chi tiết";
    <link href="~/Scripts/mycss/detailbook.css" rel="stylesheet" />
}
<strong>Chi tiết sách</strong>
<hr />
<div class="row">
    <div class="col-lg-4 image-book">
        <img src="/@Model.ImagePath" class="img-fluid border pt-3 pb-3" />
    </div>
    <div class="col-lg-8 info-book">
        <strong class="">@Model.Title</strong>
        <hr />
        <label>Trạng thái: @{var status = Model.Quantity > 0 ? "Còn hàng" : "Hết hàng";}@status</label><br />
        @{ 
            StringBuilder authorsStr = new StringBuilder();
            foreach(var item in ViewBag.Authors)
            {
                authorsStr.Append(item.Name + ", ");
            }
            authorsStr.Remove(authorsStr.Length - 2, 1);
        }
        <label>Tác giả: @{@authorsStr.ToString()}</label><br />
        <label>Giá: <span class="price font-weight-bold">@Model.Price</span></label><br />
        <span>Đánh giá:</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <br />
        <span>Số lượng:</span>
        <input class="btn btn-default border" style="width:16%;" min="1" max="@Model.Quantity" type="number" />
        <br />
        <button class="btn btn-success mt-2 pt-3 pb-3">Thêm vào giỏ hàng</button>
    </div>
</div>
<h1 class="mt-5"></h1>
<div class="row description-and-comment">
    <hr />
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#description">Mô tả sách</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#comment">Bình luận</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="description" class="container border tab-pane active">
                <br>
                <h5>@Model.Title</h5>
                <p>@Model.Description</p>
            </div>
            <div id="comment" class="container tab-pane fade border">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <span>Đánh giá:&nbsp;</span>
                        <span class="rating">&#9734</span>
                        <span class="rating">&#9734</span>
                        <span class="rating">&#9734</span>
                        <span class="rating">&#9734</span>
                        <span class="rating">&#9734</span>
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-12">
                        <strong>Tin nhắn của bạn</strong>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    
                    <div class="col-lg-12 mt-2 mb-3">
                        <button class="btn btn-primary col-lg-2">Gửi</button>
                        <button class="btn btn-light ml-3">Xem bình luận về sản phẩm</button>
                    </div>
                </div>
                @*<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
            </div>
        </div>
    </div>

</div>
<h1></h1>
<div class="related-books">
    <div>
        <strong>Sản phẩm liên quan</strong>
        <hr />
    </div>
    <div class="row">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner">
                @{
                    List<BookViewModel> sameTypeBooks = ViewBag.SameTypeBooks as List<BookViewModel>;
                    if (sameTypeBooks.Count > 0)
                    {
                        foreach (var item in sameTypeBooks)
                        {
                            <div class="item">
                                <div class="pad15">
                                    <a href="@Url.Action("Detail","Book",new { id=item.Id})"><img src="/@item.ImagePath" class="img-thumbnail" /></a>
                                    <p class="card-text title small related-title">@item.Title</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h5>Không có sách liên quan</h5>
                    }

                }

                @*<div class="item">
            <div class="pad15">
                <img src="~/Images/khong-so-hai.jpg" class="img-thumbnail" />
                <p class="card-text title small">Some text inside the first card</p>
            </div>
        </div>
        <div class="item">
            <div class="pad15">
                <img src="~/Images/khong-so-hai.jpg" class="img-thumbnail" />
                <p class="card-text title small">Some text inside the first card</p>
            </div>
        </div>
        <div class="item">
            <div class="pad15">
                <img src="~/Images/mat-biec-phien-ban-phim.jpg" class="img-thumbnail" />
                <p class="card-text title small">Some text inside the first card</p>
            </div>
        </div>
        <div class="item">
            <div class="pad15">
                <img src="~/Images/suy-tuong.jpg" class="img-thumbnail" />
                <p class="card-text title small">Some text inside the first card</p>
            </div>
        </div>
        <div class="item">
            <div class="pad15">
                <img src="~/Images/the-diem-can-bang-bien-chien-luoc-thanh-hanh-dong.jpg" class="img-thumbnail" />
                <p class="card-text title small">Some text inside the first card</p>
            </div>
        </div>
        <div class="item">
            <div class="pad15">
                <img src="~/Images/tri-thuc-ve-van-vat.jpg" class="img-thumbnail" />
                <p class="card-text title small">Some text inside the first card</p>
            </div>
        </div>
        <div class="item">
            <div class="pad15">
                <img src="~/Images/trieu-phu-bat-dong-san-tu-than-dinh-huong-dau-tu-mua-dau-lai-do.png" class="img-thumbnail" />
                <p class="card-text title small">Some text inside the first card</p>
            </div>
        </div>*@

                @*<div class="item">
            <div class="pad15">
                <p class="lead">Multi Item Carousel</p>
                <p>₹ 1</p>
                <p>₹ 6000</p>
                <p>50% off</p>
            </div>
        </div>*@
            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
    </div>

</div>
<script src="~/Scripts/myjs/detailbook.js"></script>