@model  MyBookStore.Models.ShoppingCart
@{
    ViewBag.TitlePage = ViewBag.Title;
    <link href="~/Scripts/mycss/shoppingcart.css" rel="stylesheet" />
}
@{
    int size = Model.CartItems.Count;
}
<strong>@ViewBag.Title của bạn (@size sản phẩm)</strong>
<hr />

<div class="">
    <table class="table table-hover">
        <tbody>
            @if (ViewBag.Message != null)//no book in shopping cart
            {
                <tr>
                    <td colspan="6"><strong>@ViewBag.Message</strong></td>
                </tr>
            }
            else
            {
                foreach (var item in Model.CartItems)
                {
                    <tr id="@item.BookItem.Id">
                        <td>
                            <img src="/@item.BookItem.ImagePath"
                                 alt="@item.BookItem.Title" class="img-fluid" width="60" height="60" />
                        </td>
                        <td>@item.BookItem.Title</td>
                        <td class="pt-3">@item.BookItem.Price<span>đ</span></td>
                        <td>
                            <input type="number" class="btn btn-default border ml-3 quantity" style="max-width:70%;" value="@item.Quantity" min="1" max="@item.BookItem.Quantity" />
                        </td>
                        <td class="pt-3 pl-0 ml-0">@(item.BookItem.Price * item.Quantity)<span>đ</span></td>
                        <td>
                            <button class="btn btn-danger remove-item">Xóa</button>
                        </td>
                    </tr>
                }

                @*<tr>
                        <td>
                            <img src="~/Images/100-y-tuong-kinh-doanh-tuyet-hay-tai-ban.jpeg"
                                 alt="100 Ý tưởng kinh doanh tuyệt hay tái bản" class="img-fluid" width="60" height="60" />
                        </td>
                        <td>100 Ý tưởng kinh doanh tuyệt hay tái bản</td>
                        <td class="pt-3">200000<span>đ</span></td>
                        <td>
                            <input type="number" class="btn btn-default border btn-block ml-3" style="max-width:40%;" value="1" min="1" />
                        </td>
                        <td class="pt-3 pl-0 ml-0">200000<span>đ</span></td>
                        <td>
                            <button class="btn btn-danger">Xóa</button>
                        </td>
                    </tr>*@
            }
        </tbody>
    </table>
    <hr />
    <div class="row">
        <div class="col-lg-4">Tổng tiền đơn hàng: @Model.CalculateTotalPrice()<span>đ</span></div>
        <div class="col-lg-7">
            <div class="row">
                @{
                    string disable = "";
                    if (size == 0)
                    {
                        disable = "disabled";
                    }
                }
                <button class="btn btn-success col-lg-4" @disable id="view-order">Xem đơn hàng</button>
                <a href="@Url.Action("Index","Book")" class="btn btn-info col-lg-5 ml-2">Tiếp tục mua hàng</a>
            </div>
        </div>

    </div>

</div>
<script src="~/Scripts/myjs/shoppingcart.js"></script>
